cff-version: 1.2.0
message: "If you use this code, please cite the associated article."
title: "Network Topology Predicts Urban Mobility Decarbonization Potential of Global Cities"
type: software
version: 1.0.0
date-released: 2026-XX-XX
authors:
  - family-names: "REPLACE_WITH_CORRESPONDING_AUTHOR"
    given-names: "REPLACE_WITH_GIVEN_NAME"
preferred-citation:
  type: article
  title: "Network Topology Predicts Urban Mobility Decarbonization Potential of Global Cities"
  journal: "REPLACE_AFTER_ACCEPTANCE"
  year: 2026

